<mat-card>
  <mat-card-title>
    <h1>{{ title }}</h1>
  </mat-card-title>

  <form [formGroup]="form">
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="exemplo@gmail.com"
          formControlName="email"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input
          matInput
          placeholder="000.000.000-00"
          formControlName="document"
          mask="000.000.000-00"
          required
        />
      </mat-form-field>

      <mat-form-field class="date-picker">
        <mat-label>Data de nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="DD/MM/YYYY"
          formControlName="birthday"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="address" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="city" />
      </mat-form-field>

      <mat-form-field class="states">
        <mat-label>UF</mat-label>
        <mat-select formControlName="stateUf">
          <mat-option *ngFor="let state of states" [value]="state.sigla">
            {{ state.sigla }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-checkbox>Casa própria</mat-checkbox>
    </div>
    <div class="buttons-container">
      <button mat-raised-button color="warn" (click)="handleCancel()">
        Cancelar
      </button>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="handleConfirm()"
      >
        Salvar
      </button>
    </div>
  </form>
</mat-card>
